<a href="https://colab.research.google.com/github/supritp007-sudo/nlp-experiments/blob/main/exp4_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving twitter4000.csv to twitter4000 (1).csv

In [ ]:
data=pd.read_csv("/content/twitter4000.csv")
data.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [ ]:
import re
from re import Pattern
pattern = r'\s'

In [ ]:
data['email']=data['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))
data['email'].sample(5)

1975                                [ ,  ,  ,  ,  ,  ,  ]
2529    [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
3479    [ ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  ,  , ...
3485                          [ ,  ,  ,  ,  ,  ,  ,  ,  ]
544                                             [ ,  ,  ]
Name: email, dtype: object

In [ ]:
pattern=r'\b[A-Za-z._+-]+@[A-Za-z.][A-Z|a-z]{2,}\b'
data['email']=data['twitts'].apply(lambda x: re.findall(pattern=pattern,string=x))
data['email'].sample(5)

3872    []
3977    []
2944    []
2492    []
2004    []
Name: email, dtype: object

In [ ]:
pattern=r'\b[A-Za-z._+-]+@[A-Za-z.][A-Z|a-z]{2,}\b'
data['email'] = data['twitts'].apply(lambda x: re.findall(pattern=pattern, string=x))
data

                                                 twitts  sentiment email
0     is bored and wants to watch a movie  any sugge...          0    []
1              back in miami.  waiting to unboard ship           0    []
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0    []
3                     ughhh i am so tired  blahhhhhhhhh          0    []
4     @mandagoforth me bad! It's funny though. Zacha...          0    []
...                                                 ...        ...   ...
3995                                  i just graduated           1    []
3996          Templating works; it all has to be done            1    []
3997                   mommy just brought me starbucks           1    []
3998  @omarepps watching you on a House re-run...lov...          1    []
3999  Thanks for trying to make me smile I'll make y...          1    []

[4000 rows x 3 columns]

First, let's define a regular expression pattern to identify URLs. Then, we'll apply this pattern to the `twitts` column to extract all URLs. Finally, we'll count the unique URLs found.

In [ ]:
# Define a regex pattern for URLs
url_pattern = r'https?://\S+'

# Extract all URLs from the 'twitts' column
all_urls = data['twitts'].apply(lambda x: re.findall(url_pattern, x))

# Flatten the list of lists into a single list of URLs
flattened_urls = [url for sublist in all_urls for url in sublist]

# Count the unique URLs
unique_url_counts = pd.Series(flattened_urls).value_counts()

print("Count of unique URLs:")
display(unique_url_counts)

Count of unique URLs:

http://bit.ly/eId8A            1
http://twitpic.com/4eojz       1
http://twitpic.com/4w8hk       1
http://blip.fm/~8lc2f          1
http://tumblr.com/xf825f012    1
                              ..
http://tinyurl.com/kwmynq      1
http://plurk.com/p/yshbc       1
http://twitpic.com/69b67       1
http://twitpic.com/7jgf1       1
http://twitpic.com/6tw87       1
Name: count, Length: 187, dtype: int64

In [ ]:
data['email']

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: email, Length: 4000, dtype: object

In [ ]:
data['email']

0       []
1       []
2       []
3       []
4       []
        ..
3995    []
3996    []
3997    []
3998    []
3999    []
Name: email, Length: 4000, dtype: object

In [ ]:
data['email'].value_counts()

email
[]                     3997
[dear@onicajay]           1
[rb@Blippo]               1
[RB@ultimateanswer]       1
Name: count, dtype: int64

In [ ]:
import re

pattern = r'\b[A-Za-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b'

data['email'] = data['twitts'].apply(
    lambda x: ",".join(re.findall(pattern, x))
)

data['email_count'] = data['twitts'].apply(
    lambda x: len(re.findall(pattern, x))
)

NameError: name 'data' is not defined

In [ ]:
url_pattern = r'http\S+|www\S+'
data['urls'] = data['twitts'].apply(lambda x: ",".join(re.findall(url_pattern, str(x))))
data['url_count'] = data['urls'].apply( lambda x: x.count(',') + 1 if x != '' else 0)
data

,twitts,sentiment,email,email_count,urls,url_count
0,is bored and wants to watch a movie any sugge...,0,,0,,0
1,back in miami. waiting to unboard ship,0,,0,,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,,0,wwww,1
3,ughhh i am so tired blahhhhhhhhh,0,,0,,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,,0,,0
...,...,...,...,...,...,...
3995,i just graduated,1,,0,,0
3996,Templating works; it all has to be done,1,,0,,0
3997,mommy just brought me starbucks,1,,0,,0
3998,@omarepps watching you on a House re-run...lov...,1,,0,,0
3999,Thanks for trying to make me smile I'll make y...,1,,0,,0